:root {
    --clr-light: #fdffc4;
    --clr-dark: #00332a;
    --clr-primary: #dbffa2;
    --clr-secondary: #c3fcf2;
    --clr-accent: #ff7750;
  
    --foreground: var(--clr-dark);
    --background: var(--clr-light);
}

* {
  box-sizing: border-box;
}